if SHIELD_NOCTUS_R

config ZMK_KEYBOARD_NAME
    default "Noctus_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NOCTUS_L

config ZMK_KEYBOARD_NAME
    default "Noctus_L"

config ZMK_SPLIT
    default y
    
endif
